{% extends "base.html" %}

{% block head_title %}
Password Reset Done
{% endblock head_title %}

{% block content %}
<div class="container vh-100 d-flex align-items-center justify-content-center">
    <div class="col-md-7">
        <div class="row justify-content-center">
            <i class="bi bi-info-circle-fill text-center text-info" style="font-size: 10rem;"></i>
            <h2 class="mb-3 fs-2 text-center">Pengaturan ulang kata sandi telah terkirim</h2>
            <div class="alert alert-info shadow">
                <p class="fs-5">Kami telah mengirimkan petunjuk untuk mengatur kata sandi Anda melalui email, jika ada akun dengan email yang Anda masukkan. Anda akan segera menerimanya.</p>
                <p class="fs-5">Jika Anda tidak menerima email, pastikan Anda telah memasukkan alamat yang Anda daftarkan, dan periksa folder spam Anda.</p>
            </div>
        </div>
    </div>
</div>
{% endblock content %}