{% extends "base.html" %}
{% load static %}
{% block head_title %}
{{title}}
{% endblock head_title %}

{% block content %}
<!-- Banner -->
<div class="container mt-5">
    <img src="{% static 'img/category.png' %}" class="mx-auto d-block img-fluid" alt="">
</div>
<!-- Ending Banner -->

<!-- Blog -->
<section class="mt-5">
    <div class="container py-4">
        <div class="row">
            <div class="col-md-9">
                {% if category_articles %}
                <div class="row mb-5">
                    {% for article in category_articles %}
                    <div class="col-md-4">
                        <div class="card mb-3 border-0 bg-transparent rounded-4 shadow-sm h-100">
                            <img src="{{article.images.url}}" class="card-img-top rounded-top-4 d-block" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">{{article.title}}</h5>
                                <p class="card-text"><i class="bi bi-calendar-event" style="color: #C96C25"></i> <small
                                        class="text-primary">{{article.publish}}</small>
                                </p>
                                <p class="card-text text-black-50">{{article.fill|truncatewords:7}}</p>
                                <a href="/blog/detail/{{article.slug}}" class="btn btn-primary shadow-sm text-white">Lengkap</a>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                {% else %}
                <div class="alert alert-info">
                    <p>Mohon maaf! Artikel berdasarkan kategori yang di pilih belum tersedia 😁🙏🏼</p>
                </div>
                {% endif %}
                <nav aria-label="Page navigation example shadow-sm">
                    <ul class="pagination pagination-lg">
                        <li class="page-item">
                            <a class="page-link" href="#" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                        </li>
                        <li class="page-item"><a class="page-link active" href="#">1</a></li>
                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                        <li class="page-item">
                            <a class="page-link" href="#" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
            <div class="col-md-3">
                <div class="card">
                    <div class="card-header bg-primary text-white">
                      Pilih Kategori
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">
                            <a class="text-dark text-decoration-none" href="/blog">Article All</a>
                        </li>
                        {% for cat in category_choices %}
                        <li class="list-group-item">
                            <a class="text-dark text-decoration-none" href="/blog/category/{{cat.title}}/">{{cat.title}}</a>
                        </li>
                        {% endfor %}
                    </ul>
                  </div>
            </div>
        </div>
    </div>
</section>
<!-- Ending Blog -->
{% endblock content %}