{% extends "base.html" %}
{% load static %}
{% block head_title %}{{title}}{% endblock head_title %}

{% block content %}
 <!-- Blog -->
 <section class="mt-5">
    <div class="container py-4">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card mb-3 border-0 bg-transparent">
                    <img style="height: 350px;" src="{{detail_article.images.url}}" class="card-img-top rounded-4 d-block" alt="...">
                    <div class="card-body">
                        <h5 class="card-title fs-3 text-primary">{{detail_article.title}}</h5>
                        <p class=" card-text">
                        <ul class="list-inline">
                            <li class="list-inline-item">
                                <i class="bi bi-calendar-event"></i>
                                <small class="text-body-secondary"> {{detail_article.publish}}</small>
                            </li>
                            <li class="list-inline-item">
                                <i class="bi bi-chat-dots-fill"></i>
                                <small class="text-body-secondary"> {{comments.count}} Berkomentar</small>
                            </li>
                        </ul>
                        </p>
                        <p class="card-text justify lh-lg fs-5">{{detail_article.fill}}</p>
                    </div>
                </div>

                <!-- Komentar -->
                <h5>Komentar ({{comments.count}})</h5>
                <!-- form komentar -->
                <form method='post'>
                    {% csrf_token %}
                    <div class="mb-3">
                        {{form.comments}}
                    </div>
                    {% if request.user.is_authenticated %}
                    <div class="d-flex justify-content-end">
                        <button type="submit" class="text-white btn btn-primary mr-auto shadow-sm">Beri komentar</button>
                    </div>
                    {% else %}
                    <div class="d-flex justify-content-end">
                        <button type="submit" class="disabled text-white btn btn-primary mr-auto shadow-sm">Beri komentar</button>
                    </div>
                    {% endif %}
                </form>
                <!-- ending form komentar -->

                <!-- Menampilkan komentar -->
                {% for comment in comments %}
                <div class="d-flex my-5">
                    <div class="flex-shrink-0">
                        <img src="{{comment.user.img_user.url}}" width="50" alt="username">
                    </div>
                    <div class="flex-grow-1 ms-3">
                        <h5>{{comment.user.nama}}</h5>
                        <small class="text-muted">{{comment.timestamp}}</small><br>
                        {{comment.comments}}

                        <!-- Tampilan balasan komentar -->
                        {% for reply in comment.replies.all %}
                        <div class="d-flex align-items-center mt-2">
                            <div class="flex-shrink-0">
                              <img src="{{reply.user.img_user.url}}" width="50" alt="...">
                            </div>
                            <div class="flex-grow-1 ms-3">
                                <h6>{{reply.user.nama}}</h6>
                                <small class="text-muted">{{reply.timestamp}}</small><br>
                              {{reply.comments}}
                            </div>
                          </div>
                          {% endfor %}
                          <!-- ending Tampilan balasan komentar -->

                        <!-- form balasan komentar -->
                        <div class="d-flex align-items-center mt-2">
                            <div class="flex-grow-1 ms-3">
                              <form method="post">
                                {% csrf_token %}
                                <input type="hidden" name="comment_slug" value="{{comment.id}}">
                                {{form.comments}}
                                {% if request.user.is_authenticated %}
                                <button type="submit" class="mt-2 text-white btn btn-primary btn-sm"> Balas Komentar</button>
                                {% else %}
                                <button type="submit" class="disabled mt-2 text-white btn btn-primary btn-sm"> Balas Komentar</button>
                                {% endif %}
                              </form>
                            </div>
                        </div>
                        <!-- ending form balasan komentar -->
                    </div>
                </div>
                {% endfor %}
                <!-- Ending Menampilkan komentar -->

                <!-- Ending Komentar -->

                <!-- Blog terkait -->
                <div class="row">
                    <h5>Blog terkait:</h5>
                    {% for terkait in article_terkait %}
                    <div class="col-md-4">
                        <div class="card mb-3 border-0 bg-transparent">
                            <img src="{{terkait.images.url}}" class="card-img-top rounded-4 h-50 d-block" alt="...">
                            <div class="card-body">
                                <h6 class="card-title"><a class="text-decoration-none text-primary" href="/blog/detail/{{terkait.slug}}/">{{terkait.title}}</a></h6>
                                <p class="card-text"><i class="bi bi-calendar-event"></i>
                                    <small class="text-body-secondary">{{terkait.publish}}</small>
                                </p>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                <!-- Ending Blog terkait -->

            </div>
        </div>
    </div>
</section>
<!-- Ending Blog -->
{% endblock content %}